@model IEnumerable<ProductCategory>

@if (Model == null || !Model.Any())
{
    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                     </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <span>There is no data</span>
}
else
{
    <div style="display:block">
         @foreach (var item in Model)
         {

            @Html.ActionLink(item.Name, "GetProducts", "Home", new { id = item.CategoryId }, new { @class = "btn btn-info m-2" , id="btn"})
            

         }

    </div>
}



